body{
    font-family: sans-serif;
    color: white; 
}

.entete
{
    position: static;
    background:#3293C6; 
    height: 50px;
    left:0px;
    right:0px;
    top: 0px;
}
.langue {
    position: relative;
    float: right;
    margin-right: 100px;
}

.Acceuil {
    position: relative;
    left: 5px;
    height: 30px;
}

.entete div{
    display: inline-block;
}

.entete div p {
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.entete div button {
    position: relative;
    background:#3293C6;
    color:white; 
    border:1px none;
    padding: 14px; 
}

.entete div button:hover {
    background:#006699;
}
.entete div button i {
    height: 20px;
    width: 20px;
}

.pills {
    position: relative;
    top: 10px;
    left: 5%;
    width: 100%;
}

.tab-content {
    position: relative;
    width: 100%;
    margin-left: 10px;
    top:15px;
    border: solid 1px;
}

#carte {
    width: 100%;
    height: 100%;
}



#localisation {
    position: absolute;
    border: solid 1px;
    height: 200px;
    width: 40%;
}

#etatStations {
    float: right;
    border: solid 1px;
    height: 200px;
    width: 60%;
}

#map {
    height: 600px;
    width: 100%;
}

#dataTable {
    position: relative;
    width: 85%;
    left: 7.5%;
}

#boiteAuto h2 {
    color: #3293C6;
}

#choixLocalisation {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

#tableau {
    border: solid 1px;
    width: 450px;
}

.container{
  display: inline-grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 35px 35px 35px 35px; 
}

.item{
  padding: 5px;
  font-size: 80%;
}
.item p{
    display: inline-block;
}
 

    .a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .d {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .e {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .f {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .g {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .h {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    
    
    
    
