/*Fond d'ecran*/
body {
    background-image: url("bckground.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

/*Rectangle au haut de la page*/
div.entete {
    background-color: mediumpurple;
    border: 2px solid black;

}

/*Dropdown bouton*/
.dropbtn {
    background-color: mediumpurple;
    min-width: 125px;
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/*Je sais pas trop c'est quoi encore*/
.dropdown {
    display: inline-block;
    position: relative;
}

/*les elements qui sont droppe*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content p {
    font-size: 15px;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}


.margeDroite a {
    color: black;
    font-size: 12px;
}

#test {
    background-color: transparent;
}

#logo {
    background-color: transparent;
}

#corps {
    position:absolute;
    right: 150px;
}
.margeDroite {
    max-width: 150px;
    min-width: 100px;
    float: right;
    position:relative;
    text-align: center;
}


