body {
    background-color: #EFFFEF;
}


.divDroite{
    position:relative;
    left:0;
    top:150px;
    width:200px;
   
    height:100%;
    
}

.divHaut{
   
    background:#D5DAB8;
    position: absolute; 
    top: -20px;
    left:0;
    right:0;
    padding: 1rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #D5DAB8;
  text-align: center;
}

.dropbtn {
    background-color: #181913;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #80866C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #AEB692;
}
